.DS_Store
/PEARMobile/PEAR/Builds
/PEARMobile/PEAR/obj
/PEARMobile/PEAR/Library
/Unity with minor Database Functionality/Library
/Unity with minor Database Functionality/obj
/Unity with minor Database Functionality/