.DS_Store
/PEARMobile/PEAR/Builds
/PEARMobile/PEAR/obj
/PEARMobile/PEAR/Library
/PEARMobile/PEAR/Temp
 PEARMobile/PEAR/Assets/Plugins/
/Unity with minor Database Functionality/Library
/Unity with minor Database Functionality/obj
/Unity with minor Database Functionality/
