<h2>Login</h2>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<form name="userform" method="post" #formCtrl="ngForm">
				<h3 align="center">Login Form</h3>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>
				</div>

				<div class="form-group">
						<button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="login()" [disabled]="formCtrl.form.invalid">
							Login with Email
						</button>
				</div>
		</form>
  </div>
</div>
