<div class="container">
  <div class="row">
    <!-- <div class="col-9">
      <h3>Total Attempts: {{ currentStudent }} </h3>
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div> -->
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Students</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let student of studentUIDs">
            <button (click)="collectAttempts(student)" class="dropdown-item">{{ student }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Total Attempts: {{ currentStudent }}</h3>
      <ngx-charts-bar-vertical-2d
      [view]="view"
      [scheme]="colorScheme"
      [results]="single2"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [barPadding]="barPadding"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>Average Time Spent </h3>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel2"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
  </div>

</div>

