<!-- <ngb-accordion #acc="ngbAccordion">
  <div *ngFor="let answer of answers | async">
    <ngb-panel title="{{ answer | json }}"> -->
      <!-- <ng-template ngbPanelContent>
        {{ sun | json }} -->

        <!-- <div *ngFor="let mercury of mercury">
          {{ mercury | json }}
        </div> -->
      <!-- </ng-template> -->
    <!-- </ngb-panel>  
  </div>
</ngb-accordion> -->

<!-- <div *ngIf="afAuth.user | async as user">
  <a href="https://pear-f60a2.firebaseio.com/.json">JSON</a>
</div>  -->


<!-- <div *ngIf="loggedIn; else #loggedOut">
  <p>test test Q's</p>
  <a href="https://pear-f60a2.firebaseio.com/.json">JSON</a>
</div> -->
<div *ngFor="let d of data | async">
  {{ data | json }}
</div>  