<!-- <p>Page shown when not logged in /default</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Log In <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar sticky-top navbar-dark"style="background-color:#6FCF97">
  <a class="navbar-brand" height="1px" routerLink="/splashpage"></a>
</nav>

<!-- <div class="container"> -->
<main role="main">
  <router-outlet></router-outlet>
</main>

<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->