<h2>My Teachers</h2>
<ul class="teachers">
  <!-- 
    The *ngFor is Angular's repeater directive. It repeats the host 
    element for each element in a list.
    li: host element
    teacher: from logged-in component
    The parentheses around click tell Angular to listen for the
    <li> element's click event. When the user clicks in the
    <li>, Angular executes the onSelect(hero) expression. 
  -->
  <li *ngFor="let teacher of teachers" 
    [class.selected]="teacher === selectedTeacher"
    (click)="onSelect(teacher)">
    <span class="badge">{{teacher.id}}</span> {{teacher.name}}
  </li>
</ul>

<!-- 
  It's a ONE WAY data binding from the selectedTeaacher property of the 
  TeachersComponent to the teacher property of the target element,
  which maps to the teachers property of the TeacherDetailComponent. 
-->
<app-teacher-detail [teacher]="selectedTeacher"></app-teacher-detail>