<!-- 
  The new TeacherDetailComponent can present any teacher, not just a selected teacher. 
  So replace "selectedTeacher" with "teacher" everywhere in the template. 
-->
<div *ngIf="teacher">
  <h2>{{teacher.name | uppercase}}'s Details</h2>
  <div><span>id: </span>{{teacher.id}}</div>
  <div>
    <label>name:
      <!-- 
				[(ngModel)] is Angular's two-way data binding syntax.
				Binds the teacher.name property to the HTML textbox so that data can 
				flow in both directions: from the teacher.name property
				to the textbox, and from the textbox back to the teacher.name. 
			-->
      <input [(ngModel)]="teacher.name" placeholder="name">
    </label>
  </div>
</div>
