<div class="container">

  tester: blah
  <br>
  <hr>

  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">astronomy</li>
      <li class="list-group-item">test class</li>
      <li class="list-group-item">earth: {{ planetQ.earth }}</li>
      <li class="list-group-item">venus: {{ planetQ.venus }}</li>
      <li class="list-group-item">mercury: {{ planetQ.mercury }}</li>
      <li class="list-group-item">mars: {{ planetQ.mars }}</li>
      <li class="list-group-item">jupiter: {{ planetQ.jupiter }}</li>
      <li class="list-group-item">saturn: {{ planetQ.saturn }}</li>
      <li class="list-group-item">uranus: {{ planetQ.uranus }}</li>
      <li class="list-group-item">neptune: {{ planetQ.neptune }}</li>
      <li class="list-group-item">sun: {{ planetQ.sun }}</li>
    </ul>
  </div>

</div>  