<div class="container">

  <ngb-accordion [closeOthers]="true" activeIds="static-1">

    <ngb-panel id="static-1">
      <ng-template ngbPanelTitle><span> <b>Mercury</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.mercury">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle><span> <b>Venus</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.venus">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-3">
      <ng-template ngbPanelTitle> <span> <b>Earth</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.earth">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-4">
      <ng-template ngbPanelTitle> <span> <b>Mars</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.mars">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-5">
      <ng-template ngbPanelTitle> <span> <b>Jupiter</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.jupiter">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-6">
      <ng-template ngbPanelTitle> <span> <b>Saturn</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.saturn">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-7">
      <ng-template ngbPanelTitle> <span> <b>Uranus</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.uranus">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-8">
      <ng-template ngbPanelTitle> <span> <b>Neptune</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.neptune">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-9">
      <ng-template ngbPanelTitle> <span> <b>Sun</b> </span></ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let planetQ of planetQ.sun">
          <li *ngIf='planetQ != null'>{{ planetQ }}</li>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

  <br><br><br>


  <!-- <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let planetQ of planetQ.earth">
        <p *ngIf='planetQ != null'>earth: {{ planetQ }}</p>
      </li>
      <div *ngFor="let planetQ of planetQ.venus">
        <li class="list-group-item" *ngIf='planetQ != null'>venus: {{ planetQ }}</li>
      </div>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.mercury">
        <p *ngIf='planetQ != null'>mercury: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.mars">
        <p *ngIf='planetQ != null'>mars: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.jupiter">
        <p *ngIf='planetQ != null'>jupiter: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.saturn">
        <p *ngIf='planetQ != null'>saturn: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.uranus">
        <p *ngIf='planetQ != null'>uranus: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.neptune">
        <p *ngIf='planetQ != null'>neptune: {{ planetQ }}</p>
      </li>
      <li class="list-group-item" *ngFor="let planetQ of planetQ.sun">
        <p *ngIf='planetQ != null'>sun: {{ planetQ }}</p>
      </li>
    </ul>
  </div> -->

</div>  