<p>
  google-charts works!
</p>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Test Chart 1</h3>
      <google-chart width="600"
        [title]="chart.title"
        [type]="chart.type"
        [data]="chart.data"
        [columnNames]="chart.columnNames"
        [options]="chart.options">
      </google-chart>
    </div>
    <div class="col-6">
      <h3>Test Chart 2</h3>
      <google-chart style="width: 100%"
        title="Width: 100%"
        type="PieChart"
        [data]="chart.data"
        [columnNames]="chart.columnNames"
        [options]="chart.options"
        [dynamicResize]="true">
      </google-chart>
    </div>
  </div>
</div>