<!-- <div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">{{ title }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/database" class="nav-link pl-0"><span class="d-none d-md-inline">Database Test</span></a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/login" class="nav-link pl-0"><span class="d-none d-md-inline">Login Page</span></a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/splashpage" class="nav-link pl-0"><span class="d-none d-md-inline">Splash Page</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3">
            <app-navbar></app-navbar>
        </main>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/database">
                <span data-feather="file"></span>
                Database Test
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/splashpage">
                <span data-feather="shopping-cart"></span>
                Splash Page
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <span data-feather="users"></span>
                Login Page
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>New Title</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Link 1
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">   
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              {{ className }}
            </button>
          </div>
        </div>
        
        <router-outlet></router-outlet>

      </main>
    </div>
  </div>