<p>
  ngx-charts works!
</p>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Average Time Spent on Questions</h3>
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <div class="col-6">
      <h3>Percentage Correct</h3>
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>"

