<div class="container">

  <h4><strong>User ID:</strong> {{ this.teacher }}</h4>
  <h4><strong>Class Code:</strong> {{ getTeacherClassCode()  }} </h4>

  <h4><strong>Registered students:</strong></h4>
  <li *ngFor="let student of allStudents">
    {{student}}
  </li>
  <!-- <div class="card">
    <ul class="list-group list-group-flush">
      <div *ngFor="let student of allStudents">
        <li class="list-group-item">{{ student }}</li>
      </div>
      <li class="list-group-item">astronomy</li>
      <li class="list-group-item">test class</li>
    </ul>
  </div> -->

</div>