<div class="container">
  <h5><strong>Class Code:</strong> {{ getTeacherClassCode()  }} </h5>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">User ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentInfo; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{student.email}}</td>
        <td>{{student.name}}</td>
        <td>{{student.uid}}</td>        
      </tr>
    </tbody>
  </table>

</div>